 .u-section-1 {
  background-image: url("images/1_5151.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1033px;
}

.u-section-1 .u-group-1 {
  width: 693px;
  min-height: 310px;
  height: auto;
  margin: 107px auto 0 -238px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-3 {
  margin: 401px 106px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 852px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    font-size: 1.125rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 653px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-1 .u-text-1 {
    font-size: 8rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 309px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 617px;
}

.u-section-2 .u-text-1 {
  margin: 48px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 409px;
  width: 836px;
  margin: 17px auto 60px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: -78px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-2 .u-line-1 {
  position: absolute;
  top: -44px;
  left: auto;
  height: 88px;
  transform-origin: center bottom 0px;
  right: 562px;
}

@media (max-width: 991px) {
  .u-section-2 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-gallery-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 581px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 67px;
  margin-bottom: 35px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 479px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 33px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 14px 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 479px;
  background-image: url("images/1989-Peugeot-205-GTI-White-Featured-1.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-line-1 {
  position: absolute;
  top: -44px;
  left: auto;
  height: 88px;
  transform-origin: center bottom 0px;
  right: 562px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 467px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 7px;
    margin-right: 21px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 15px;
    margin-right: 21px;
  }

  .u-section-3 .u-image-1 {
    min-height: 467px;
    background-position: 74.25% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 405px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-right: 13px;
    width: NaNpx;
  }

  .u-section-3 .u-text-2 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 10px;
  }

  .u-section-3 .u-image-1 {
    background-position: 32.62% 50%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 603px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 38px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 6px;
  }

  .u-section-3 .u-image-1 {
    min-height: 279px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/005.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 574px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  margin: 474px auto 42px;
  padding: 16px 50px 17px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 473px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 362px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 272px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 171px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 581px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 51px;
  margin-bottom: 51px;
  width: 100%;
}

.u-section-5 .u-image-1 {
  min-height: 489px;
  background-image: url("images/1991_peugeot_205_jl97637-80443.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 489px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: auto;
  }

  .u-section-5 .u-image-1 {
    min-height: 403px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 403px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-5 .u-image-1 {
    min-height: 617px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-5 .u-image-1 {
    min-height: 463px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-5 .u-image-1 {
    min-height: 292px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 123px;
}

.u-section-6 .u-text-1 {
  margin: 59px auto 43px;
}